Laboratorio8/Lab3-MueblesDeLosAlpes/Lab3-MueblesDeLosAlpes-war/src/conf/xml-resources/web-service-references/VendorWebService/wsdl/localhost_8080/Lab3-MueblesDeLosAlpes-war/VendorWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.vendors.losalpes.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.vendors.losalpes.com/" name="VendorWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.vendors.losalpes.com/" schemaLocation="http://localhost:8080/Lab3-MueblesDeLosAlpes-war/VendorWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="getVendedores">
<part name="parameters" element="tns:getVendedores"/>
</message>
<message name="getVendedoresResponse">
<part name="parameters" element="tns:getVendedoresResponse"/>
</message>
<message name="eliminarVendedor">
<part name="parameters" element="tns:eliminarVendedor"/>
</message>
<message name="eliminarVendedorResponse">
<part name="parameters" element="tns:eliminarVendedorResponse"/>
</message>
<message name="OperacionInvalidaException">
<part name="fault" element="tns:OperacionInvalidaException"/>
</message>
<message name="agregarVendedor">
<part name="parameters" element="tns:agregarVendedor"/>
</message>
<message name="agregarVendedorResponse">
<part name="parameters" element="tns:agregarVendedorResponse"/>
</message>
<message name="getVendedor">
<part name="parameters" element="tns:getVendedor"/>
</message>
<message name="getVendedorResponse">
<part name="parameters" element="tns:getVendedorResponse"/>
</message>
<portType name="VendorWebService">
<operation name="getVendedores">
<input wsam:Action="http://ws.vendors.losalpes.com/VendorWebService/getVendedoresRequest" message="tns:getVendedores"/>
<output wsam:Action="http://ws.vendors.losalpes.com/VendorWebService/getVendedoresResponse" message="tns:getVendedoresResponse"/>
</operation>
<operation name="eliminarVendedor">
<input wsam:Action="http://ws.vendors.losalpes.com/VendorWebService/eliminarVendedorRequest" message="tns:eliminarVendedor"/>
<output wsam:Action="http://ws.vendors.losalpes.com/VendorWebService/eliminarVendedorResponse" message="tns:eliminarVendedorResponse"/>
<fault message="tns:OperacionInvalidaException" name="OperacionInvalidaException" wsam:Action="http://ws.vendors.losalpes.com/VendorWebService/eliminarVendedor/Fault/OperacionInvalidaException"/>
</operation>
<operation name="agregarVendedor">
<input wsam:Action="http://ws.vendors.losalpes.com/VendorWebService/agregarVendedorRequest" message="tns:agregarVendedor"/>
<output wsam:Action="http://ws.vendors.losalpes.com/VendorWebService/agregarVendedorResponse" message="tns:agregarVendedorResponse"/>
<fault message="tns:OperacionInvalidaException" name="OperacionInvalidaException" wsam:Action="http://ws.vendors.losalpes.com/VendorWebService/agregarVendedor/Fault/OperacionInvalidaException"/>
</operation>
<operation name="getVendedor">
<input wsam:Action="http://ws.vendors.losalpes.com/VendorWebService/getVendedorRequest" message="tns:getVendedor"/>
<output wsam:Action="http://ws.vendors.losalpes.com/VendorWebService/getVendedorResponse" message="tns:getVendedorResponse"/>
</operation>
</portType>
<binding name="VendorWebServicePortBinding" type="tns:VendorWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getVendedores">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarVendedor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="OperacionInvalidaException">
<soap:fault name="OperacionInvalidaException" use="literal"/>
</fault>
</operation>
<operation name="agregarVendedor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="OperacionInvalidaException">
<soap:fault name="OperacionInvalidaException" use="literal"/>
</fault>
</operation>
<operation name="getVendedor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="VendorWebService">
<port name="VendorWebServicePort" binding="tns:VendorWebServicePortBinding">
<soap:address location="http://localhost:8080/Lab3-MueblesDeLosAlpes-war/VendorWebService"/>
</port>
</service>
</definitions>