Laboratorio8/Lab3-MueblesDeLosAlpes/Lab3-MueblesDeLosAlpes-war/web/WEB-INF/wsdl/localhost_8080/Lab3-MueblesDeLosAlpes-war/MuebleWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.muebles.losalpes.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.muebles.losalpes.com/" name="MuebleWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.muebles.losalpes.com/" schemaLocation="http://localhost:8080/Lab3-MueblesDeLosAlpes-war/MuebleWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="comprar">
<part name="parameters" element="tns:comprar"/>
</message>
<message name="agregarItem">
<part name="parameters" element="tns:agregarItem"/>
</message>
<message name="removerItem">
<part name="parameters" element="tns:removerItem"/>
</message>
<message name="recalcularInventarioTotal">
<part name="parameters" element="tns:recalcularInventarioTotal"/>
</message>
<message name="limpiarLista">
<part name="parameters" element="tns:limpiarLista"/>
</message>
<message name="getInventario">
<part name="parameters" element="tns:getInventario"/>
</message>
<message name="getInventarioResponse">
<part name="parameters" element="tns:getInventarioResponse"/>
</message>
<message name="setInventario">
<part name="parameters" element="tns:setInventario"/>
</message>
<message name="getPrecioTotalInventario">
<part name="parameters" element="tns:getPrecioTotalInventario"/>
</message>
<message name="getPrecioTotalInventarioResponse">
<part name="parameters" element="tns:getPrecioTotalInventarioResponse"/>
</message>
<message name="getTotalUnidades">
<part name="parameters" element="tns:getTotalUnidades"/>
</message>
<message name="getTotalUnidadesResponse">
<part name="parameters" element="tns:getTotalUnidadesResponse"/>
</message>
<portType name="MuebleWebService">
<operation name="comprar">
<input wsam:Action="http://ws.muebles.losalpes.com/MuebleWebService/comprar" message="tns:comprar"/>
</operation>
<operation name="agregarItem">
<input wsam:Action="http://ws.muebles.losalpes.com/MuebleWebService/agregarItem" message="tns:agregarItem"/>
</operation>
<operation name="removerItem">
<input wsam:Action="http://ws.muebles.losalpes.com/MuebleWebService/removerItem" message="tns:removerItem"/>
</operation>
<operation name="recalcularInventarioTotal">
<input wsam:Action="http://ws.muebles.losalpes.com/MuebleWebService/recalcularInventarioTotal" message="tns:recalcularInventarioTotal"/>
</operation>
<operation name="limpiarLista">
<input wsam:Action="http://ws.muebles.losalpes.com/MuebleWebService/limpiarLista" message="tns:limpiarLista"/>
</operation>
<operation name="getInventario">
<input wsam:Action="http://ws.muebles.losalpes.com/MuebleWebService/getInventarioRequest" message="tns:getInventario"/>
<output wsam:Action="http://ws.muebles.losalpes.com/MuebleWebService/getInventarioResponse" message="tns:getInventarioResponse"/>
</operation>
<operation name="setInventario">
<input wsam:Action="http://ws.muebles.losalpes.com/MuebleWebService/setInventario" message="tns:setInventario"/>
</operation>
<operation name="getPrecioTotalInventario">
<input wsam:Action="http://ws.muebles.losalpes.com/MuebleWebService/getPrecioTotalInventarioRequest" message="tns:getPrecioTotalInventario"/>
<output wsam:Action="http://ws.muebles.losalpes.com/MuebleWebService/getPrecioTotalInventarioResponse" message="tns:getPrecioTotalInventarioResponse"/>
</operation>
<operation name="getTotalUnidades">
<input wsam:Action="http://ws.muebles.losalpes.com/MuebleWebService/getTotalUnidadesRequest" message="tns:getTotalUnidades"/>
<output wsam:Action="http://ws.muebles.losalpes.com/MuebleWebService/getTotalUnidadesResponse" message="tns:getTotalUnidadesResponse"/>
</operation>
</portType>
<binding name="MuebleWebServicePortBinding" type="tns:MuebleWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="comprar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="agregarItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="removerItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="recalcularInventarioTotal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="limpiarLista">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getInventario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setInventario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getPrecioTotalInventario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTotalUnidades">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MuebleWebService">
<port name="MuebleWebServicePort" binding="tns:MuebleWebServicePortBinding">
<soap:address location="http://localhost:8080/Lab3-MueblesDeLosAlpes-war/MuebleWebService"/>
</port>
</service>
</definitions>